In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import SimpleImputer

In [12]:

df = pd.read_csv("Iris (2).csv")

In [3]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['target'] = iris.target

In [4]:
print(df.head())
print(df.info())
print(df.describe())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB
None
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)      target
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000

In [5]:
print("Missing values:\n", df.isnull().sum())

Missing values:
 sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [6]:
scaler = StandardScaler()
df.iloc[:, :-1] = scaler.fit_transform(df.iloc[:, :-1])

In [7]:
df['sepal length (cm)^2'] = df['sepal length (cm)'] ** 2
df['sepal width (cm)^2'] = df['sepal width (cm)'] ** 2
df['petal length (cm)^2'] = df['petal length (cm)'] ** 2
df['petal width (cm)^2'] = df['petal width (cm)'] ** 2

In [8]:
X = df.drop('target', axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
print("\nTraining features:\n", X_train.head())
print("\nTraining labels:\n", y_train.head())

Training features:
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
22          -1.506521          1.249201          -1.567576         -1.315444
15          -0.173674          3.090775          -1.283389         -1.052180
65           1.038005          0.098217           0.364896          0.264142
11          -1.264185          0.788808          -1.226552         -1.315444
42          -1.748856          0.328414          -1.397064         -1.315444

    sepal length (cm)^2  sepal width (cm)^2  petal length (cm)^2  \
22             2.269604            1.560503             2.457295
15             0.030163            9.552892             1.647088
65             1.077454            0.009647             0.133149
11             1.598163            0.622217             1.504429
42             3.058498            0.107856             1.951788

    petal width (cm)^2
22            1.730394
15            1.107083
65            0.069771
11            1.730394
42            1.730394

Training labels:
 22    0
15    0
65    1
11    0
42    0
Name: target, dtype: int64